
.input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    font-size: 12px;
    font-weight: 600;
}

input {
    font-size: 14px;

    padding: 0.5rem;
    border: 1px solid #ccc;
    transition: all 0.3s ease;

    width: 100%;
}

input:hover {
    border-color: #888;
}

input:focus {
    outline: none;
    border-color: #888;
}

/* search input */

.search-input {
    width: 100%;
}

.token-btn-container {
    display: flex;
    /*flex-direction: row;*/
    gap: .5rem;
    align-items: center;
}

.cancel-btn {
    background-color: transparent;
    color: #0B2A63;
    padding: 8px 16px;
    cursor: pointer;
    border: none;

    border-radius: 999px;

    font-size: 14px;
    font-weight: 500;
}

.cancel-btn:hover {
    background-color: #3196D633;
}

.cancel-btn:active {
    background-color: #3196D61A;
}
